<%# overriden from blacklight-marc app/views/bookmarks/_refworks.html.erb
    20 May 2014
    blacklight 5.4.0
    blacklight-marc 5.0.0

    Overridden solely for the purpose of changing `target` of refworks hyperlink
    to make open in new tab. 

    According to refworks docs http://www.refworks.com/directexport.htm, 
    they suggest using a target of RefWorksMain -- turns out due to 
    Refworks Javascript, this actually does matter and best to follow
    their example target name literally, or weird things happen. 
%>

<% if @document_list.any? {|d| d.exports_as? :refworks_marc_txt } %>
  <li class="refworks">
    <%= link_to t('blacklight.tools.refworks'), refworks_export_url(url: bookmarks_export_url(:refworks_marc_txt, params_for_search)), :class => "btn btn-default", :id => "refworksLink", :target => 'RefWorksMain' %>
  </li>
<% end %>
