<% # Request Result %>

<% if @message["status"] %>
  <%= @message["RequestNumber"] %>
<% else %>
  <p>There was an error creating your request</p>
  <p><%= @message["code"] %></p>
  <p><%= @message["message"] %></p>
<% end %>