<% # Request Form %>

<% if @available %>
  <form action="/borrow_direct_request/request_item/<%= @document[:id] %>"
        method="POST"
  >
    <%= select_tag "pickup_location", options_for_select(@locations),
                   :prompt => "Please choose a delivery location",
                   :class => "form-control" %>
    <button class="btn btn-primary btn-sm">
      Submit
    </button>
  </form>

<% else %>
    <div class="row">
      <div class="col-sm-4">
        <%= link_to_borrow_direct_search(@document) %>
      </div>
      <div class="col-sm-8">
        <%= link_to "Request via Interlibrary Loan", ENV['ILLIAD_URL'] + '?Action=10&Form=30&' + document.export_as_openurl_ctx_kev, :class => "btn btn-primary btn-sm", :target => "_blank" %>
      </div>
    </div>
<% end %>
