<div class="course">

    <h3 class="name" title="name"><%= link_to course.name, {:action => "show", :id => course.course_id} %></h3>
    <div class="instructors" title="instructor"><%= course.instructors.collect {|i| i.instructor_str}.join(", ") %></div>        
    <div class="location" title="location"><%= course.location %></div>
    <% unless course.comment.blank? %>
      <div class="comment" title="notes"><%= link_urls(course.comment) %></div>
    <% end %>
  </ul>
</div>
