  
  <div class="ereserves-note collapse-note">
    <%# at small screens, we're going to hide the content, and show a link
        that toggles it %>
    <h4 class="collapse-note-fixed-heading">For electronic reserves…</h4>
    <h4 class="collapse-note-collapse-heading"><a href="#" data-toggle="collapse" data-target="#electronic-reserves-note-content">For electronic reserves…</a></h4>


    <div class="collapse-note-content collapse" id="electronic-reserves-note-content">
      <p><strong>Homewood Patrons</strong> may access electronic reserves from: <a class="alert-link" href="https://ares.library.jhu.edu/shib/">Eisenhower
      Course Readings</a></p>
      
      <p><strong>SAIS Patrons</strong> may access electronic reserves from their course pages in <a class="alert-link" href="https://blackboard.jhu.edu/">Blackboard</a></p>
      
      <p><strong>Welch Patrons</strong> may access electronic reserves from: <a class="alert-link" href="https://ares.library.jhu.edu/shib/">Welch
      E-Reserves</a></p>
      
      <p>Patrons with questions regarding access to electronic reserves should
      email or speak to their <%= link_to "home library", {:controller => "info", :action => "libraries"}, :class => "alert-link" %>.</p>
    </div>
    
  </div>
