<div class="reserves-index container">
  <div class="row">

    <% content_for :sidebar do %>
      <%= render(:partial => "electronic_note") %>
    <% end %>

    <div class="col-md-12 reserves">
      <h1 class="reserves-title">
        <%= link_to "Reserves", :action => :index %>
      </h1>

      <% # Reserves Feature %>
      <% if Flipper[:reserves].enabled? %>
        <%= render partial: 'reserves_default' %>
      <% else %>
        <%= render partial: 'reserves_curbside' %>
      <% end %>
    </div>
  </div>
</div>
