<p></p>

<div class="alert alert-danger">

  <% if @message.present? %>
    <%= @message %>
  <% else %>
    We're sorry, there was a software error connecting to your borrower account.
  <% end %>
    
</div>
