<% @urls[:show_targets].each do |url| %>
    <%= render 'url', url: url %>
<% end %>
<% unless @urls[:overflow_targets].nil? %>
  <a class="view-overflow-urls btn-sm btn-primary btn"><span class="overflow-label">View</span> <%= @urls[:overflow_targets].size %> More</a>
  <div class="overflow-urls">
      <% @urls[:overflow_targets].each do |url| %>
         <%= render 'url', url: url %>
      <% end %>
<% end %>
