<ul class="facet-values list-unstyled">
  <% paginator = facet_paginator(facet_field, display_facet) %>
  <% paginator.items.each do |item| -%>
      <li style="background-image: url('<%= icon_cover (item.value) %>');">
        <% if facet_in_params?( facet_field, item.value ) %>
          <%= render_selected_facet_value(facet_field, item) %>
        <% else %>
          <%= render_facet_value(facet_field, item) %>
        <% end -%>
      </li>
  <% end %>
</ul>