<% unless holding.call_number.blank? or params[:action] == 'copy' %>
  <% if StackmapFetcher.new(holding).map_available? %>
    <%= link_to( {:controller => "map", :action => "index",
                  :collection_code => holding.collection.internal_code,
                  :call_number     => holding.call_number  } ,
                 :class => "get_map btn btn-outline-secondary btn-sm mr-2",
                 :data => {:ajax_modal => "trigger",:toggle => "modal", :target => "#ajax-modal"}) do
    %>
      <span class="glyphicon glyphicon-map-marker px-1"></span>Floor map
    <% end %>
  <% end %>
<% end %>
