<div x-data="showcase"
     x-cloak
>
  <div class="row">
    <div id="content" class="col-md-3">
      <h1 class="page-heading">New Books</h1>
    </div>
    <div id="content" class="col-md-9">
      <template x-for="access in params.f.access_facet">
        <span class="btn-group applied-filter constraint query">
          <span class="constraint-value btn btn-outline-secondary">
              <span class="filter-name">Access</span>
              <span x-text="access"
                    :title="access"
                    class="filter-value"></span>
          </span>
          <a x-on:click.prevent="removeFacet('access_facet', $event.target.getAttribute('title'))"
             class="btn btn-outline-secondary remove"
             href="#">
            <span class="remove-icon">✖</span>
            <span class="sr-only" x-text="'Remove constraint Access: ' + access"></span>
          </a>
        </span>
      </template>
      <template x-for="subject in params.f.subject_topic_facet">
        <span class="btn-group applied-filter constraint query">
          <span class="constraint-value btn btn-outline-secondary">
              <span class="filter-name">Subject</span>
              <span x-text="subject"
                    :title="subject"
                    class="filter-value"></span>
          </span>
          <a x-on:click.prevent="removeFacet('subject_topic_facet', $event.target.getAttribute('title'))"
             class="btn btn-outline-secondary remove"
             href="#">
            <span class="remove-icon">✖</span>
            <span class="sr-only" x-text="'Remove constraint Subject: ' + subject"></span>
          </a>
        </span>
      </template>
    </div>
    <div class="col-md-3">
      <section id="sidebar" class="page-sidebar order-first" aria-label="limit your search">
        <div id="facets" class="facets sidenav facets-toggleable-md">
          <div class="facets-header">
<!--            <h2 class="facets-heading">Refine your search</h2>-->

            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#facet-panel-collapse" aria-controls="facet-panel-collapse" aria-expanded="false" aria-label="Toggle facets">
              <span class="navbar-toggler-icon"></span>
            </button>  </div>

          <div id="facet-panel-collapse" class="facets-collapse collapse">
            <div class="card facet-limit blacklight-access_facet ">
              <h3 class="card-header p-0 facet-field-heading" id="facet-access_facet-header">
                <button class="btn btn-block p-2 text-left collapse-toggle " data-toggle="collapse" data-target="#facet-access_facet" aria-expanded="true">
                  Access
                </button>
              </h3>
              <div id="facet-access_facet" aria-labelledby="facet-access_facet-header" class="panel-collapse facet-content collapse show">
                <div class="card-body">
                  <ul class="facet-values list-unstyled">
                    <template x-for="facet in (facets.find(facet => facet.id == 'access_facet').attributes.items)">
                      <li>
                        <span class="facet-label">
                          <a x-on:click.prevent="addFacet('access_facet', $event.target.getAttribute('message'))"
                             x-text="facet.attributes.label"
                             :message="facet.attributes.value"
                             class="facet-select"
                             href="#"></a>
                          <a x-show="params.f.access_facet.includes(facet.attributes.value)"
                             x-on:click.prevent="removeFacet('access_facet', $event.target.getAttribute('message'))"
                             :message="facet.attributes.value"
                             class="remove"
                             href="#">
                            <span class="remove-icon">✖</span>
                            <span class="sr-only">[remove]</span>
                          </a>
                        </span>
                        <span class="facet-count"
                              :style="'width: ' + facet.hits.length + 'ch;'"
                              x-text="facet.attributes.hits"
                        ></span>
                      </li>
                    </template>
                  </ul>
                </div>
              </div>
            </div>

            <div class="card facet-limit blacklight-subject_topic_facet ">
              <h3 class="card-header p-0 facet-field-heading" id="facet-subject_topic_facet-header">
                <button class="btn btn-block p-2 text-left collapse-toggle" data-toggle="collapse" data-target="#facet-subject_topic_facet" aria-expanded="false">
                  Subject
                </button>
              </h3>
              <div id="facet-subject_topic_facet" aria-labelledby="facet-subject_topic_facet-header" class="panel-collapse facet-content">
                <div class="card-body">
                  <div class="row row-cols-2 pb-2">
                    <a x-on:click.prevent="subject_sort = 'index'"
                          :class="{'disabled': subject_sort == 'index'}"
                          class="text-center"
                          role="button"
                    >
                      <small>A-Z Sort</small>
                    </a>
                    <a x-on:click.prevent="subject_sort = 'count'"
                          :class="{'disabled': subject_sort == 'count'}"
                          class="text-center"
                          role="button"
                    >
                      <small>Numerical Sort</small>
                    </a>
                  </div>
                  <ul class="facet-values list-unstyled">
                    <template x-for="facet in subjects">
                      <li>
                        <span class="facet-label">
                          <a x-on:click.prevent="addFacet('subject_topic_facet', $event.target.getAttribute('message'))"
                             x-text="facet.value"
                             :message="facet.value"
                             class="facet-select"
                             href="#"></a>
                          <a x-show="params.f.subject_topic_facet.includes(facet.value)"
                             x-on:click.prevent="removeFacet('subject_topic_facet', $event.target.getAttribute('message'))"
                             :message="facet.attributes.value"
                             class="remove"
                             href="#">
                            <span class="remove-icon">✖</span>
                            <span class="sr-only">[remove]</span>
                          </a>
                        </span>
                        <span class="facet-count"
                              :style="'width: ' + facet.hits.length + 'ch;'"
                              x-text="facet.hits"
                        ></span>
                      </li>
                    </template>
                  </ul>
                  <div x-show="subjects.length > 0"
                       class="row record-padding">
                    <div class="col-md-12">
                      <nav class="pagination" role="region" aria-label="pagination links">
                        <ul class="pagination">
                          <li class="page-item">
                            <a x-on:click.prevent="previousSubjectFacetPage"
                               rel="prev" class="page-link" aria-label="Go to previous page" href="#">« Previous</a>
                          </li>
                          <li class="page-item">
                            <input x-model.debounce.750ms="subject_page"
                                   class="form-control rounded-0 text-center"
                                   type="text"
                                   style="height: calc(1.428571429em + 0.75rem + 4px);"
                              />
                          </li>
                          <li class="page-item">
                            <a x-on:click.prevent="nextSubjectFacetPage"
                               rel="next" class="page-link" aria-label="Go to next page" href="#">Next »</a>
                          </li>
                        </ul>
                      </nav>
                    </div>
                  </div>
<!--                  <div class="more_facets">-->
<!--                    <a data-blacklight-modal="trigger" href="/catalog/facet/subject_topic_facet?per_page=20&amp;q=harry+potter&amp;search_field=all_fields">more <span class="sr-only">Subject</span> »</a>-->
<!--                  </div>-->
                </div>
              </div>
            </div>

          </div>
        </div>



      </section>
    </div>
    <div class="col-md-9">
      <div x-show="items.length > 0"
           class="row record-padding">
        <div class="col-md-12">
          <nav class="pagination" role="region" aria-label="pagination links">
            <ul class="pagination">
              <li class="page-item">
                <a x-on:click.prevent="previousPage"
                   rel="prev" class="page-link" aria-label="Go to previous page" href="#">« Previous</a>
              </li>
              <li class="page-item">
                <a x-on:click.prevent="nextPage"
                   rel="next" class="page-link" aria-label="Go to next page" href="#">Next »</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div x-show="items"
           class="row row-cols-3 row-cols-md-4">
        <template x-for="item in items">
          <a :href="'/catalog/' + item.id">
            <div class="col py-3 px-2">
              <img :src="'/bookcover?bib=' + item.id"
                   :alt="item.attributes.title_display.attributes.value"
                   :title="$('<div />').html(item.attributes.title_display.attributes.value).text()"
                   class="w-100"
                />
              <!--            <div x-text="summary(item.attributes.title_display.attributes.value)"></div>-->
            </div>
          </a>
        </template>
      </div>
      <div x-show="items.length > 0"
           class="row record-padding">
        <div class="col-md-12">
          <nav class="pagination" role="region" aria-label="pagination links">
            <ul class="pagination">
              <li class="page-item">
                <a x-on:click.prevent="previousPage"
                   rel="prev" class="page-link" aria-label="Go to previous page" href="#">« Previous</a>
              </li>
              <li class="page-item">
                <a x-on:click.prevent="nextPage"
                   rel="next" class="page-link" aria-label="Go to next page" href="#">Next »</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    document.addEventListener('alpine:init', () => {
        Alpine.data('showcase', () => ({
            url: '/catalog',
            items: [],
            facets: [],
            subjects: [],
            subject_page: 1,
            subject_sort: 'count',
            pagination: {},
            params: {
                q: '*',
                search_field: 'all_fields',
                per_page: 16,
                page: 1,
                range: {
                  pub_date_sort: {
                    begin: (new Date().getFullYear()) - 1,
                    end: (new Date().getFullYear())
                  },
                },
                f: {
                    'format': ['Book'],
                    'access_facet': [],
                    'subject_topic_facet': []
                }
            },
            init() {
                this.fetchItems();
                this.$watch('params.page', () => {
                    this.fetchItems();
                });
                this.$watch('subject_page', () => {
                    this.fetchSubjects();
                });
                this.$watch('subject_sort', () => {
                    this.subject_page = 1;
                    this.fetchSubjects();
                });
            },
            nextPage() {
                if(this.pagination.pages.current_page < this.pagination.pages.total_pages){
                  this.params.page = this.params.page + 1;
                }
            },
            previousPage() {
                if(this.pagination.pages.current_page > 1){
                    this.params.page = this.params.page - 1;
                }
            },
            nextSubjectFacetPage() {
                this.subject_page = this.subject_page + 1;
            },
            previousSubjectFacetPage() {
                if(this.subject_page > 1){
                    this.subject_page = this.subject_page - 1;
                }
            },
            addFacet(facet, value) {
                this.params.f[facet].push(value);
                this.fetchItems();
            },
            removeFacet(facet, value) {
                this.params.f[facet].splice(this.params.f[facet].indexOf(value), 1);
                this.fetchItems();
            },
            fetchItems() {
                this.items = [];
                fetch(this.url + '.json?sort=acquired_sort+desc%2C+title_sort+asc&' + $.param(this.params))
                    .then(res => res.json())
                    .then(res => {
                        this.items = res.data;
                        this.facets = res.included;
                        this.subjects = (this.facets.find(facet => facet.id == 'subject_topic_facet').attributes.items)
                                          .map(function(item){
                                              return {value: item.attributes.value, hits: item.attributes.hits};
                                          });
                        this.pagination = res.meta;
                        this.subject_page = 1;
                    });
            },
            fetchSubjects() {
                this.subjects = [];
                fetch(this.url + '/facet/subject_topic_facet.json?facet.page=' + this.subject_page + '&facet.sort=' + this.subject_sort + '&' + $.param(this.params))
                    .then(res => res.json())
                    .then(res => {
                        if(res.response.facets.items.length < 1){
                            this.subject_page = this.subject_page - 1;
                        }else {
                            this.subjects = res.response.facets.items;
                        }
                    });
            },
            summary(string) {
                if(string.length < 45){
                    return string;
                }
                else{
                    return string.substring(0, 44) + '...';
                }
            }
        }))
    })
</script>