<h3>Welcome!</h3>
<p>This is a demo of our next-generation discovery interface.  It is based on <a href="http://www.projectblacklight.org/">Blacklight</a> technology.</p>
<p>It should be noted that this preview is under active development and is not yet feature complete. With that in mind, we would very much appreciate your comments and feedback.  A feedback link is provided at the top of each page to make this quick and painless.</p>
<p>So please, explore the site, test out catalog searches, and give us your impressions.</p>