<span style="float: left;">
  <% counter = document_counter_with_offset(document_counter) %>
  <span class="document-counter">
  <%= t('blacklight.search.documents.counter', :counter => counter) if counter %>
  </span>
</span>

