<% # Look for Other Verions %>
<% if( JHConfig.params[:umlaut_base_url] &&
    document.export_formats.keys.include?(:openurl_ctx_kev)) && related_links_type(document) != :online %>
  <% if !hathi_eta(document) %>
    <div id="findit-wrapper">
      <%= link_to(JHConfig.params[:umlaut_base_url] +  "/resolve?#{document.export_as_openurl_ctx_kev}", {:class => "request btn btn-primary btn-sm"}  ) do %>
        Look for Other Versions
      <% end %>
    </div>
  <% end %>
<% end %>
<div class="links results-item-section card">
  <div class="card-header"><%= related_links_title(document) %>
    <% if (Rails.application.config.x.suppress_browse != true) && (browse_sort_key = shelf_browse_sort_key_for(document)) %>
      <span> | </span>
      <span class="glyphicon glyphicon-book"></span> <%= link_to "Virtual Shelf Browse", shelfbrowse_path(:origin_sort_key => browse_sort_key) %>
    <% end %>
  </div>

  <div class="card-body">
    <%= render 'online_access_container', document: document %>
  </div>
</div>
</br>
