<% # Look for Other Verions %>
<div class="holdings">
  <div class="holdings-container">
    <div class="location-container">
      <div class="sticky-top">
        <div style="display: flex;  align-items: center;">
          <div class="location">
            <%= related_links_title(document) %>
          </div>
          <div>

          </div>
        </div>
        <hr>
      </div>
      <div class="holding">
        <%= render 'online_access_container', document: document %>
      </div>
<!--      <div class="links results-item-section card">-->
<!--        <div class="card-header"><%#= related_links_title(document) %>-->
          <%# if (Rails.application.config.x.suppress_browse != true) && (browse_sort_key = shelf_browse_sort_key_for(document)) %>
<!--            <span> | </span>-->
<!--            <span class="glyphicon glyphicon-book"></span> <%#= link_to "Virtual Shelf Browse", shelfbrowse_path(:origin_sort_key => browse_sort_key) %>-->
          <%# end %>
<!--        </div>-->

<!--        <div class="card-body">-->
          <%#= render 'online_access_container', document: document %>
<!--        </div>-->
<!--      </div>-->
    </div>
  </div>
</div>
