<%# shows all items for a given copy. @item_holdings should be set in controller, to array of Holding objects. %>
<div class="holdings-drill-down">
  <% if @item_holdings.blank? %>
    <p class="no-items">No items.</p>
  <% else %>
    <ul class="holdings expandable-disabled">
      <%= render :partial => "holding_expandable", :collection => @item_holdings, :locals => {:document_id => params[:id], :document => @document} %>
    </ul>
  <% end %>
</div>