// styles for the 'show' item detail page, especially MARC

.show-marc-heading {
  @extend .clearfix;

  .show-marc-heading-title {
    margin-top: 5px;
    line-height: 1;
  }

  .show-marc-subtitle {
    font-weight: normal;
    font-size: 80%;
  }

  .alternate-languages {
    margin-top: ($line-height-computed / 2);
    margin-bottom: ($line-height-computed / 2);
  }

  .cover-container {
    text-align: center;
    padding-bottom: 8px;

    img {
      height: auto;
      width: 150px;
    }
  }

  @media (min-width: $screen-md) {
    .cover-container {
      padding: 34px 0px 0px 20px;

      img {
        height: auto;
        width: 100%;
      }
    }
  }
}

.show-marc-pre-head {
  font-weight: bold;
}

.marcPrefix {
  @extend .text-muted;
  padding-right: 0.33em;
}
.subjects .marcPrefix {
  //messing up the hover underline on links, hmm.
  padding-right: 0;
}

.dl-marc-display dt {
  // bootstrap wants to white-space:nowrap and truncate long labels. We don't.
  white-space: normal;
}

.alternate-languages ul {
  margin-bottom: 0;
}

.dl-marc-display {
  .fieldLabel {
    margin-bottom: ($line-height-computed / 4);
  }
  .fieldData {
    // erasing margin on ul and double margin on .fieldData
    // needed to preserve spacing on column collapse.
    margin-bottom: ($line-height-computed);
    ul {
      margin-bottom: 0;
    }
  }

  .list-marc-presenter-content li, .contents505 li {
    margin-bottom: ($line-height-computed / 4);
  }
}

.marc-show-extra-head {
  margin-bottom: $line-height-computed;
}

// narrow padding on tools nav, we don't want as much
// as bootstrap/BL default, and this matches our other sidebar
// content
.show-tools .nav > li > a, .show-tools .bookmark_toggle {
  padding-top: ($line-height-computed / 4) !important;
  padding-bottom: ($line-height-computed / 4) !important;
}
// and turn em into ordinary links please, undo the nav
.show-tools .nav > li > a:hover {
  color: $link-hover-color;
  text-decoration: underline;
  background-color: inherit;
}

// BL for some reason doesn't put the "Tools" heading in a panel-title, but
// we want it to be as if.  BL 5.8.
.panel.show-tools .panel-heading {
  @extend h3;
  @extend .panel-title;
}

// BL 7 reimplementation of .dl-horizontal
@media (min-width: 768px) {
  .dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .dl-horizontal dd {
    margin-left: 180px;
  }
}

.dl-horizontal dd:before,
.dl-horizontal dd:after, {
  display: table;
  content: " ";
}

.dl-horizontal dd:after {
  clear: both;
}

.call-num-actions {
  a {
    &:hover {
      text-decoration: none;
    }
  }
}

.citation-style{
  margin-bottom: 12px;

  .citation{
    margin-top: 2px;
    margin-bottom: 2px;

    &.indent{
      margin-left: 50px;
      text-indent: -40px;
    }
  }
}

#optionsContainer {
  & button[aria-expanded="true"] svg{
    transform: rotate(90deg);
  }
}

.holdings {
  margin-bottom: 0.5em;

  .title {

    h2 {
      font-size: 1.3em;
      margin-bottom: 0.25px;
    }

    hr {
      margin-top: 0px;
      margin-bottom: 0.5px;
    }
  }

  .holdings-container {
    background-color: $panel-default-heading-bg;
    margin: 0.5em 0px 0px;
    padding: 6px 0px 6px 6px;

    .btn-xs {
      font-size: .8em;
      padding: .1em .4em;
    }

    hr {
      margin: 0em;
      margin-bottom: 0em;
    }
    .location-container {
      &.scroll-overflow{
        max-height: 400px;
        overflow-y: scroll;
      }

      & > div {
        background-color: $panel-default-heading-bg;
      }

      .location {
        font-size: 1em;
        padding: .3em .5em;
      }

      .sticky-top {
        padding: 0px !important;
        margin: 0px !important;
      }
    }

    .holdings-drill-down {

    }

    .holding {
      padding: 1em 1em;
      ul {
        margin-bottom: 0px;
      }

      .request-button-container {
        text-align: right;
      }

      .due {
        padding: 4px 2.6em 0px;

        .due-label {
          margin-right: 4px;
        }
      }

      .status {
        color: $jhuBlue-hover;

        .indicator {
          height: 12px;
          width: 12px;
          border-radius: 9999px;
          margin: 0px 6px 0px 0px;
        }

        &.available {
          color: $jhuDarkGreen;
          .indicator {
            background-color: $jhuDarkGreen;
          }
        }

        &.checked-out {
          color: $jhuRed;
          .indicator {
            background-color: $jhuRed;
          }
        }

        &.transit {
          color: $jhuBrightBlue;
          .indicator {
            background-color: $jhuBrightBlue;
          }
        }

        &.in-library-use-only {
          color: $jhuBlue-hover;
          .indicator {
            background-color: $jhuBlue-hover;
          }
        }

        &.in-process {
          color: $jhuBrightBlue;
          .indicator {
            background-color: $jhuBrightBlue;
          }
        }

        &.newly-acquired {
          color: $jhuBlue-hover;
          .indicator {
            background-color: $jhuBlue-hover;
          }
        }

        &.newly-acquired {
          color: $jhuRed;
          .indicator {
            background-color: $jhuRed;
          }
        }
      }
    }


  }
}