html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main-container {
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}

a {
  color: $jhuBlue;
  &:hover {
    color: $jhuBlue-hover;
  }
  &:visited:not(.btn) {
    color: $jhuBlue-hover;
  }
}

.btn-outline-secondary:hover:not(.remove) {
  color: #FFFFFF;
  background-color: $gray-light !important;
  border-color: $gray-light !important;
}
.bg-primary {
  background-color: $jhuBlue !important;
  color: #FFFFFF !important;
}

.request-head-notes {
  .cover-container {
    img {
      background-repeat: no-repeat;
      background-size: 40px 40px;
      background-position: center;
      width: 50px;
      height: auto;
      margin: 0px auto;
      display: block;
    }
  }
}

.cover-container {
  img {
    background-repeat: no-repeat;
    background-size: 75px 75px;
    background-position: center;
  }
  img.blue-ray {
    background-image: url('/formats/blue-ray.svg');
  }
  img.book {
    background-image: url('/formats/book.svg');
  }
  img.book.print {
    background-image: url('/formats/book.svg');
  }
  img.book.online {
    background-image: url('/formats/ebook.svg');
  }
  img.cd {
    background-image: url('/formats/cd.svg');
  }
  img.dvd {
    background-image: url('/formats/dvd.svg');
  }
  img.dissertation-thesis {
    background-image: url('/formats/dissertation-thesis.svg');
  }
  img.image {
    background-image: url('/formats/image.svg');
  }
  img.journal-newspaper {
    background-image: url('/formats/journal-newspaper.svg');
  }
  img.lp {
    background-image: url('/formats/lp.svg');
  }
  img.manuscript-archive {
    background-image: url('/formats/manuscript-archive.svg');
  }
  img.map-globe {
    background-image: url('/formats/map-globe.svg');
  }
  img.microform {
    background-image: url('/formats/microform.svg');
  }
  img.musical-recording {
    background-image: url('/formats/musical-recording.svg');
  }
  img.musical-score {
    background-image: url('/formats/musical-score.svg');
  }
  img.non-musical-recording {
    background-image: url('/formats/non-musical-recording.svg');
  }/*
  I'm not sure this is necessary, leaving it here overrides other styles, but this icon might be useful in the future
  img.print {
    background-image: url('/formats/print.svg');
  }*/
  img.software-data {
    background-image: url('/formats/software-data.svg');
  }
  img.vhs {
    background-image: url('/formats/vhs.svg');
  }
  img.video-film {
    background-image: url('/formats/video-film.svg');
  }
}

#facet-format {
  .facet-values {
    li {
      background-size: auto 16px;
      background-repeat: no-repeat;
      background-position: center left;
      line-height: 1.7em;
    }
    .facet-label {
      padding-bottom: 0px;
      padding-left: 38px;
    }
  }
}