<%# Displays BorrowDirect area, with pre-generated link, and proper
    data attributes for umlaut_include.js to replace with Umlaut
    content.

    Used on both item detail page, and request form (both request/new.html when
    locally requestable, and request/request_failure.html when not)

    Local arguments:

    * document [required]: our SolrDocument object representing
    a record, which has a to_openurl
    * panel_title: Default "Request a copy from BorrowDirect"
    * panel_classes: Default 'panel-default', CSS classes to add to bootstrap panel
      div to customize look. Request panel addds 'panel-info' instead.

        render 'borrow_direct', :document => @document
%>
<%
    panel_title   = "BorrowDirect"
    panel_classes = local_assigns[:panel_classes] || "panel-default"
%>

<div class="card mb-4 panel-default">
  <div class="card-header">
    <h3 class="card-title mb-0 h6">
      Request from another library
    </h3>
    <small>Get a copy from a partner library in 6-9 days. Checkout period is 16 weeks, with no renewals.</small>
  </div>
  <div class="card-body borrow-direct-container"
       data-format='<%= document['format'].to_json %>'
       data-remote-url="/borrow_direct_request/request_options/<%= document['id'] %>"
       data-umlaut-update="body">
    Loading...
    <script>
        loadBorrowDirect()
    </script>
  </div>
</div>
