<%#
  Displays BorrowDirect area.
%>

<div class="card-body borrow-direct-container"
     data-format='<%= (!document['format'].empty? ? document['format'].to_json : '') %>'
     data-remote-url="/borrow_direct_request/request_options/<%= document['id'] %>"
     data-umlaut-update="body">
  <% if !flash.empty? %>
    <% flash.each do |type, msg| %>
      <div class="alert alert-<%= type %> mb-0">
        <%== msg %>
      </div>
    <% end %>
  <% else %>
    <script>
        loadBorrowDirect()
    </script>
  <% end %>
</div>
