<h1>Hopkins Libraries</h1>
<dl class="campus-libraries">

<dt><a href="http://www.peabody.jhu.edu/library">
    Arthur Friedheim Library</a></dt>	
  <dd>Arthur Friedheim Library<br>
  1 East Mount Vernon Place<br>
  Baltimore MD 21202<br>
  667-208-6655<br>      
  </dd>

<dt><a href="http://onestop.education.jhu.edu/academic-support/library-services.html">
	Columbia Center Library (School of Education)</a></dt>
  <dd>Columbia Center Library<br>
  Columbia Gateway Park<br> 
  6740 Alexander Bell Drive<br> 
  Columbia MD 21046<br>
            410-290-1777      
  </dd>

<dt><a href="http://guides.library.jhu.edu/content.php?pid=205178&sid=1712838">
  Garrett Library</a></dt>
  <dd>
	<p>Evergreen House at 4545 N. Charles Street, by appointment only.</p>
	<p>Patrons needing access to Garrett materials should see Earle Havens, the Curator of Rare Books Curator in Special Collections on A-Level of the Eisenhower Library at             410-516-8348       or e-mail <a href="mailto:earle.havens@jhu.edu">earle.havens@jhu.edu</a>.
	</p>
	</dd>

<dt><a href="http://guides.library.jhu.edu/c.php?g=202582&p=1336208">
  George Peabody Library</a></dt>
	<dd>
	17 E. Mount Vernon Place<br>
	Baltimore MD<br>
        667-208-6715
  </dd>

<dt><a href="https://www.jhuapl.edu/Library/">
  Information Group (Applied Physics Laboratory)</a>(APL staff only)</dt>
  
	  <dd>Applied Physics Laboratory, Laurel, Maryland<br>
    443-778-5151       or             240-228-5151       (DC)
    </dd>

<dt><a href="http://guides.library.jhu.edu/hebusiness">
	  Harbor East Library</a></dt>

		 <dd>Carey Business School - Harbor East Library<br>
		 100 International Drive<br>
		 Baltimore MD 21202<br>
	            410-234-9286 
	   </dd>

<dt>
  Harrison Library</dt>
  
	<dd>Harold E. Harrison Medical Library<br>
	FSK Pavilion, Level 01<br>
	Johns Hopkins Bayview Medical Center<br>
	4940 Eastern Ave.<br>
	Baltimore, Maryland 21224<br>
        <b><a href="http://www.hopkinsbayview.org/communitylibrary/">Community Health Library:</a></b> 410-550-0681<br>
        <b>Harison Medical Library:</b> 410-550-0678
  </dd>

<dt><a href="http://www.hopkinshistoryofmedicine.org/content/library">
  Institute of the History of Medicine</a></dt>
   <dd>
	 Institute of the History of Medicine<br>
	 Welch Medical Library, 3rd Floor<br>
	 1900 E. Monument St.<br>
	 Baltimore, Maryland 21205<br>
            410-955-3178      
   </dd>

<dt><a href="http://www.medicalarchives.jhmi.edu/">
  Medical Archives</a></dt>
	<dd>
	Alan Mason Chesney Archives<br>
	Mt. Washington Campus<br>
	5801 Smith Ave., Suite 235<br>
	Baltimore, MD 21209<br>
            410-735-6800 
  </dd>

<dt><a href="http://www.library.jhu.edu/">
  Milton S. Eisenhower Library</a></dt>
	<dd>Milton S. Eisenhower Library, Homewood Campus<br>
	3400 N. Charles St.<br>
	Baltimore, MD 21218<br>
            410-516-8335 
  </dd>

<dt><a href="http://guides.library.jhu.edu/content.php?pid=30844&sid=225469">Montgomery Library Resource Center</a></dt>
	<dd>
	9601 Medical Center Drive<br>
	Rockville MD 20850<br>
  301-294-7030
  </dd>

<dt><a href="https://sais.jhu.edu/faculty-research/sais-libraries/mason-library-washington-dc">
  SAIS Library</a></dt>
  
  <dd>
	SAIS Library, School of Advanced International Studies<br>
	1740 Massachusetts Ave., N.W.<br>
	Washington D.C. 20036-1983<br>
            202-663-5900      
  </dd>

<dt><a href="http://guides.library.jhu.edu/content.php?pid=30844&sid=2486873">Washington Library Resource Center</a></dt>
  <dd>
	Library Resource Center<br>
	1717 Massachusetts Ave N.W.<br>
	Washington DC 20036
	</dd>

<dt><a href="http://www.welch.jhu.edu/index.cfm">
  Welch Medical Library</a></dt>
  
	<dd>
	William H. Welch Medical Library<br>
	1900 E. Monument St.<br>
	Baltimore, Maryland 21205<br>
  410-955-3410      
  </dd>

<dt>Wilmer Library</dt>
  <dd>
	Jonas Friedenwald Memorial Library, Wilmer Eye Institute<br>
	Woods Research Building, Room 3B-50<br>
	Johns Hopkins Hospital<br>
	Baltimore, Maryland 21287<br>
  410-955-3127
  </dd>
  
</dl>
