<h1>Research Resources</h1>

<dl class="research-resources">
  <dt><a href="https://databases.library.jhu.edu">Databases @ JH Libraries</a></dt>
  <dd>Look up specialized research databases by subject or title.</dd>

  <dt><a href="https://findit.library.jhu.edu">FindIt</a></dt>
  <dd>Look up a specific electronic journal or article.</dd>

  <dt><a href="https://catalyst.library.jhu.edu/borrow_direct">BorrowDirect</a></dt>
  <dd> All JHU patrons may use BorrowDirect to search and request books from the Ivies + Chicago and MIT.   Expect delivery in 3-5 days.  JHED login required.</dd>

  <dt>Inter-Library Loan/Doc Delivery</dt>

  <dd>
    <ul class="ill-options">
      <li>
        All JHU Patrons may request articles and AV materials from:
        <a href="https://ask.library.jhu.edu/faq/44644">Libraries Service Center</a>
      </li>
      <li>
        Homewood Patrons may request items from:
        <ul>
          <li><a href="https://ill.library.jhu.edu/MSEL/">Eisenhower Express</a></li>
          <li><a href="https://ill.library.jhu.edu/">Eisenhower Interlibrary Services</a></li>
        </ul>
      </li>
      <li>
        APL Borrowers may request items from:
        <a href="https://ill.library.jhu.edu/apl">APL Interlibrary Loan</a>
      </li>
      <li>
        Friedheim Patrons may request items from:
        <a href="https://ill.library.jhu.edu/afl/">Peabody Inter-Library Loan</a>
      </li>
      <li>
        SAIS Patrons may request items from:
        <a href="https://ill.library.jhu.edu/sais">SAIS Interlibrary Loan</a>
      </li>
      <li>
        Welch Patrons may request items from:
        <a href="https://weldoc.welch.jhmi.edu/weldoc/">Welch Document Services</a>
      </li>
      <li>Patrons with off-campus centers administered by the Bloomberg School of Public Health, the Krieger School of Arts and Sciences, the School of Professional Studies in Business and Education, or the Whiting School of Engineering should contact the library or administrative office of their program for information on interlibrary loan.
      </li>
    </ul>
  </dd>
</dl>