<div data-ajax-modal="container">
  <div class="modal-header">
    <h3 class="modal-title">Disable Automatic Stemming</h3>
    <button type="button" class="blacklight-modal-close close" data-dismiss="modal" aria-label="<%= t('blacklight.modal.close') %>">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

    <div class="modal-body">
        <p>Ordinarily, Catalyst searches will find alternate forms of terms 
        entered, such as "book" for "books" or vice versa.</p>

        <p>With the 'Disable automatic stemming' feature selected, these alternate
        word forms will not be searched.</p>
    </div>
</div>