<div class="container">
    <div class="row">
        <div class="useful-links libraries col-sm-6">
          <%= render :partial => "libraries" %>
        </div>

        <div class="useful-links research col-sm-6">
          <%= render :partial => "research_links" %>
        </div>
    </div>
</div>
